* {

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  
  margin: 16px auto;
}


body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
}

.title {
  background: #e3f4ff;
}

.content {
  background: #e3f4ff;
}

.button-container {
  background: #e3f4ff;
  /*padding-left: auto;
  padding-right: auto;
  */
  text-align: center;
  /*width: 50%;*/
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
}